body {
    margin: 0px;
    overflow: hidden;
    background-color: bisque;
}

canvas {
    background-color: transparent;
}

.content {
    position: fixed;
    /* background-color: #59accf; */
    width: 90%;
    height: 80%;
    left: 5%;
    bottom: 5%;
}